# Copia este archivo a .env y completa los valores reales

DATABASE_URL="file:./dev.db"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_xxxxxxxx
CLERK_SECRET_KEY=sk_live_xxxxxxxx

ADMIN_EMAILS=axel.cisnero@gmail.com,axel.cisnero@hotmail.com

NEXT_PUBLIC_WHATSAPP_NUMBER=50761511270
